
article{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
// title
h2{
  font-size: 40px;
  margin: 15px 0px;
}
// picture
figure{
  text-align: center;

  img{
    max-width: 250px;
    max-height: 180px;
    width: auto;
    height: auto;
    object-fit: cover;
    border: 1px solid #0000008f;
    box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.5);
  }

  figcaption{
    font-size: .7em;
    font-style: italic;
  }
}

// Intro
span{
  font-weight: bold;
}


