<button *ngIf="isSmallScreen" (click)="toogleMenu()" id="toogle-nav">
  Menu
</button>
<nav *ngIf="!isSmallScreen || menuOpened">
  <ul  id="menu">
    <li class="menu-level-1" 
        *ngFor="let menuEntry of menu" 
        (mouseenter)="openMenuEntry(menuEntry)" 
        (mouseleave)="closeMenuEntry(menuEntry)"
        (focusin)="openMenuEntry(menuEntry)" 
        (focusout)="closeMenuEntry(menuEntry)">
      <span>
        <a [routerLink]="menuEntry.route"   
           routerLinkActive="active-menu"
           [routerLinkActiveOptions]="{exact:true}">
          {{menuEntry.title}}
        </a>
      </span>
      <ul class="menu-level-2" 
          *ngIf="menuEntry.subMenu" 
          [ngClass]="{'visualyHidden' : !menuEntry.isOpened }">
        <li *ngFor="let menusubEntry of menuEntry.subMenu">
          <a [routerLink]="menusubEntry.route"  
             routerLinkActive="active-menu">
            {{menusubEntry.title}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>