<nav>
  <ul  id="menu">
    <li class="menu-level-1" 
        *ngFor="let menuEntry of menu" 
        (focusin)="openMenu(menuEntry)" 
        (focusout)="closeMenu(menuEntry)">
      <span>
        <a [routerLink]="menuEntry.route">
          {{menuEntry.title}}
        </a>
      </span>
      <ul class="menu-level-2" 
          *ngIf="menuEntry.subMenu" 
          [style.opacity]="menuEntry.isOpened ? '1' : '0'" 
          [style.visibility]="menuEntry.isOpened ? 'visible' : 'hidden'">
        <li *ngFor="let menusubEntry of menuEntry.subMenu">
          <a [routerLink]="menusubEntry.route">
            {{menusubEntry.title}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>