
.article-item-body{
  
  display : flex;
  font-weight: bold;
  
  img{
    max-width: 300px;
    max-height: 200px;
  }
  span{
    padding-left: 15px;
  }
}

.article-card{
  margin-bottom: 25px;
  border-bottom: 2px solid #8080806b;
  padding-bottom: 20px;
}