
.article-item-body{
  
  cursor: pointer;  
  display : flex;
  font-weight: bold;
  
  img{
    max-width: 300px;
    max-height: 200px;
    border: 1px solid #0000008f;
    // border-bottom: 20px solid #0000008f;
    box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.5);
  }
  span{
    padding-left: 15px;
  }
}

article{
  margin-bottom: 25px;
  border-bottom: 2px solid #8080806b;
  padding-bottom: 20px;
}