
.article-item-body{
  
  cursor: pointer;  
  display : flex;
  font-weight: bold;
  flex-wrap: wrap;
  
  img{
    flex: 1;
    max-width: 250px;
    max-height: 180px;
    width: auto;
    height: auto;
    object-fit: cover;
    // border-bottom: 20px solid #0000008f;
    box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.5);
  }
  span{
    flex:3;
    padding-left: 15px;
  }
}

article{
  margin-bottom: 25px;
  border-bottom: 2px solid #8080806b;
  padding-bottom: 20px;
}