<main>
  <header id="top">
    <img src="../assets/images/sii-canada-logo-website-72x110.png" alt="SII journal Logo : SII letter on blue background">
    <h1>SII Journal</h1>
    <a href="{{currentRoute + '#main-content'}}" >Skip to main content</a>
  </header>
  <sii-top-nav-bar></sii-top-nav-bar>
  <section  id="main-content" class="main-content">
    <router-outlet></router-outlet>
  </section>
  <footer>
    <span>
      © Copyright SII Journal - All rights reserved
    </span>
    <a href="{{currentRoute + '#top'}}" >Back to top</a>
  </footer>
</main>