<h2>A question ? An idea ? Contact us !</h2>

<form>

  <label >
    Name
    <input type="text" 
      placeholder="Ex : Toto" 
      name="name" 
      [(ngModel)]="formData.name" 
      [ngClass]="(errorMessage && !formData.name )? 'hasErrors' : '' "
      required>
  </label>
  <br>

  <label>
    Email
    <input type="email" 
      placeholder="Ex : toto@tata.com" 
      name="email" 
      [(ngModel)]="formData.email" 
      [ngClass]="(errorMessage && !formData.email )? 'hasErrors' : '' "
      required>
  </label>
  <br>

  <label>Your message
    <textarea 
      placeholder="Ex : Your website is not accessible"
      name="message"
      [(ngModel)]="formData.message"
      [ngClass]="(errorMessage && !formData.message )? 'hasErrors' : '' "
      required></textarea>
    </label>
  <br>

</form>
<div class="form-footer">
  <div class="message-sent" [hidden]="!messageSent"> 
    Your message has been sent succesfully
  </div>
  <div class="error-message" [hidden]="!errorMessage"> 
    All fields must be filled.
  </div>
  <!-- This is just a filler div so that the button stays right -->
  <div style="flex:1" [hidden]="errorMessage && messageSent"></div>

  <button class="send-button" (click)="sendMessage()">
    <span class="visualyHidden">
        Send message
    </span> 
  </button>
</div>