<h2>A question ? An idea ? Contact us !</h2>

<form>

  <input type="text" 
    placeholder="Name" 
    name="name" 
    [(ngModel)]="formData.name" 
    [ngClass]="(errorMessage && !formData.name )? 'hasErrors' : '' "
    required>
  <br>

  <input type="email" 
    placeholder="toto@tata.com" 
    name="email" 
    [(ngModel)]="formData.email" 
    [ngClass]="(errorMessage && !formData.email )? 'hasErrors' : '' "
    required>
  <br>

  <textarea placeholder="Votre message"
    name="message"
    [(ngModel)]="formData.message"
    [ngClass]="(errorMessage && !formData.message )? 'hasErrors' : '' "
    required></textarea>
  <br>

</form>
<div class="form-footer">
  <div class="message-sent" [hidden]="!messageSent"> 
    Your message has been sent succesfully
  </div>
  <div class="error-message" [hidden]="!errorMessage"> 
    All fields must be filled.
  </div>
  <!-- This is just a filler div so that the button stays right -->
  <div style="flex:1" [hidden]="errorMessage && messageSent"></div>

  <div class="send-button" (click)="sendMessage()">
  </div>
</div>