$background: #c6cde2;
$link-color: black;
$main-cards-color: white;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$focused-color : lightblue;
$active-menu-color : lightseagreen;
$menu-border-color : blue;
$artcle-bottom-line : #8080806b;
$img-border-color : #0000008f;
$input-border-color: #ccc;
$error-bg-color : lightcoral;
$error-border-color : red;
$valid-bg-color : lightgreen;
$valid-border-color : green;
