/* You can add global styles to this file, and also import other style files */
@import "colors";
body {
  margin: 0;
  padding: 0;
  background-color: $background;
  font-family: Arial, Helvetica, sans-serif;
  color  :$text-color;
}

a {
  color: $text-color;
}

.visualy-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}
