/* You can add global styles to this file, and also import other style files */
body{
  margin:0;
  padding : 0;
  background-color: #c6cde2;
}

.visualyHidden{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;

}